pkgbase = chrome-remote-desktop
	pkgdesc = Access other computers or allow another user to access your computer securely over the Internet
	pkgver = 200.0.0.0
	pkgrel = 1
	url = https://remotedesktop.google.com
	install = chrome-remote-desktop.install
	arch = x86_64
	license = BSD
	depends = gtk3
	depends = libutempter
	depends = libxss
	depends = nss
	depends = python-psutil
	depends = xorg-server-xvfb
	depends = xorg-setxkbmap
	depends = xorg-xauth
	depends = xorg-xdpyinfo
	depends = xorg-xrandr
	source = chrome-remote-desktop-200.0.0.0.deb::https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
	source = chrome-remote-desktop.service
	source = pamrule
	source = crd

pkgname = chrome-remote-desktop
